.topbar {
    height: 188px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(33px);
    -webkit-backdrop-filter: blur(33px);
    border-bottom: 2px solid transparent;
    box-shadow: 11px 11px 11px rgba(44, 55, 66, 0.04);
    font-family: sans-serif;
    z-index: 3;
}

.topbar img {
    height: 66%;
}

@media screen and (max-width: 500px) {
    .topbar img {
        max-width: 80%;
        object-fit: contain;
    }
}