.search {
    height: 22%;
    width: 80%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(33px);
    border: 2px solid transparent;
    border-radius: 22px;
    box-shadow: 11px 11px 11px rgba(44, 55, 66, 0.04);
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 44px;
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    background-color:rgba(255, 255, 255, 0.5);
}

input {
    padding: 0 16px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 22px 0 0 22px;
    color: rgba(13, 48, 108, 0.7);
    font-size: 1.4rem;
}


input::placeholder {
    color: #FFF;
    transition: all 444ms ease-in-out;
}

input:focus::placeholder {
    opacity: 0;
}

input:focus {
    outline: none;
}

button {
    border: none;
    background: transparent;
}

i {
    padding: 16px;
    border-radius: 0 22px 22px 0;
    background-color: transparent;
    color: #FFF;
    font-size: 1.5rem;
    transition: all 1ms ease-in-out;
}

.search-result {
    position: absolute;
    top: calc(50% + 22px);
    left: 50%;
    transform: translateX(-50%);
    min-height: 44px;
    max-height: 264px;
    width: 77%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 22px 22px;
    box-shadow: 11px 11px 11px rgba(44, 55, 66, 0.04);
    overflow: hidden;
    overflow-y: auto;
}

.search-result::-webkit-scrollbar {
    display: none;
}

.search-item {
    padding: 16px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 1.2rem;
}

.search-item img {
    margin-right: 8px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    object-fit: cover;
}

#clear {
    cursor: pointer;
}